# Data Wrangling

Clean and encode data to prepare for machine learning

In [1]:
import psycopg2
import pandas as pd
import pandas.io.sql as pd_sql

Connect to database before data wrangling

In [2]:
def connectDB(DB):
    # connect to the PostgreSQL server
    return psycopg2.connect(
        database=DB,
        user="postgres",
        password="Georgetown16",
        host="database-1.c5vispb5ezxg.us-east-1.rds.amazonaws.com",
        port='5432')

def disconnectDB():
    cur.close()
    conn.close()

In [3]:
# connect to "Dataset" DB 
conn = connectDB("Dataset")

# extract everything from 'table_name' into a dataframe
df = pd_sql.read_sql(f"select * from public.\"analysisFeatures\" ", con=conn)

#make sure that all columns are displayed in our dataframe
pd.set_option('display.max_column',50)

#check dataframe
df.head(30)

,id_student,code_module,code_presentation,module_domain,module_presentation_length,term,year,num_of_prev_attempts,final_result,pass_fail_ind,reg_period,date_registration,date_unregistration,disability,gender,age_band,region,highest_education,imd_band,studied_credits,b4_sum_clicks,q1_sum_clicks,q2_sum_clicks,q3_sum_clicks,q4_sum_clicks,allclicks,cma_assmt_score,tma_assmt_score,tma_cma_assmt_score,final_exam,total_weight,is_reenrolled,final_exam_score
0,3733,DDD,2013J,STEM,261,J,2013,0,Withdrawn,None,QUARTERB4,-68.0,-8.0,N,M,55<=,South Region,HE Qualification,90-100%,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6516,AAA,2014J,SocialScience,269,J,2014,0,Pass,PASS,QUARTERB4,-52.0,NaN,N,M,55<=,Scotland,HE Qualification,80-90%,60,256.0,790.0,389.0,715.0,641.0,2791.0,0.00,63.50,63.50,0.0,100.0,0.0,0.0
2,8462,DDD,2013J,STEM,261,J,2013,0,Withdrawn,None,LONGB4,-137.0,119.0,N,M,55<=,London Region,HE Qualification,30-40%,90,81.0,442.0,123.0,0.0,0.0,646.0,0.00,34.90,34.90,0.0,40.0,0.0,0.0
3,8462,DDD,2014J,STEM,262,J,2014,1,Withdrawn,None,QUARTERB4,-38.0,18.0,N,M,55<=,London Region,HE Qualification,30-40%,60,0.0,10.0,0.0,0.0,0.0,10.0,0.00,43.00,43.00,0.0,50.0,4.0,0.0
4,11391,AAA,2013J,SocialScience,268,J,2013,0,Pass,PASS,LONGB4,-159.0,NaN,N,M,55<=,East Anglian Region,HE Qualification,90-100%,240,98.0,431.0,99.0,85.0,221.0,934.0,0.00,82.40,82.40,0.0,100.0,0.0,0.0
5,23629,BBB,2013B,SocialScience,240,B,2013,2,Fail,FAIL,QUARTERB4,-47.0,NaN,N,F,0-35,East Anglian Region,Lower Than A Level,20-30%,60,14.0,105.0,42.0,0.0,0.0,161.0,2.00,14.69,16.69,0.0,25.0,0.0,0.0
6,23632,BBB,2013J,SocialScience,268,J,2013,0,Withdrawn,None,LONGB4,-194.0,-51.0,N,F,0-35,East Anglian Region,A Level or Equivalent,40-50%,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,23698,CCC,2014J,STEM,269,J,2014,0,Pass,PASS,LONGB4,-110.0,NaN,N,F,0-35,East Anglian Region,A Level or Equivalent,50-60%,120,181.0,211.0,125.0,231.0,162.0,910.0,18.39,51.58,69.97,1.0,100.0,0.0,80.0
8,23798,BBB,2013J,SocialScience,268,J,2013,0,Distinction,PASS,MONTHB4,-27.0,NaN,N,M,0-35,Wales,A Level or Equivalent,50-60%,60,6.0,204.0,103.0,152.0,125.0,590.0,5.00,84.24,89.24,0.0,100.0,0.0,0.0
9,24186,GGG,2014B,SocialScience,241,B,2014,0,Pass,PASS,MONTHB4,-25.0,NaN,Y,F,0-35,Yorkshire Region,Lower Than A Level,10-20,30,12.0,15.0,27.0,67.0,63.0,184.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0
10,24213,DDD,2013B,STEM,240,B,2013,0,Withdrawn,None,LONGB4,-128.0,-46.0,N,F,0-35,East Anglian Region,A Level or Equivalent,40-50%,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,24213,DDD,2014B,STEM,241,B,2014,1,Pass,PASS,QUARTERB4,-54.0,NaN,N,F,0-35,East Anglian Region,A Level or Equivalent,40-50%,60,3.0,712.0,357.0,538.0,382.0,1992.0,0.00,78.40,78.40,1.0,100.0,0.0,58.0
12,24391,GGG,2013J,SocialScience,261,J,2013,0,Distinction,PASS,QUARTERB4,-64.0,NaN,N,M,0-35,East Midlands Region,A Level or Equivalent,80-90%,30,0.0,100.0,121.0,208.0,283.0,712.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0
13,24734,AAA,2014J,SocialScience,269,J,2014,0,Pass,PASS,MONTHB4,-18.0,NaN,N,F,0-35,South Region,Lower Than A Level,60-70%,60,30.0,111.0,91.0,59.0,208.0,499.0,0.00,47.50,47.50,0.0,100.0,0.0,0.0
14,25107,BBB,2013B,SocialScience,240,B,2013,0,Pass,PASS,QUARTERB4,-73.0,NaN,N,F,0-35,East Anglian Region,Lower Than A Level,20-30%,120,5.0,207.0,1258.0,657.0,435.0,2562.0,5.00,55.51,60.51,0.0,100.0,0.0,0.0
15,25150,EEE,2014B,STEM,241,B,2014,0,Pass,PASS,QUARTERB4,-47.0,NaN,N,M,0-35,North Western Region,HE Qualification,90-100%,60,51.0,407.0,350.0,1104.0,191.0,2103.0,0.00,82.72,82.72,0.0,100.0,0.0,0.0
16,25261,CCC,2014J,STEM,269,J,2014,0,Withdrawn,None,LONGB4,-114.0,51.0,N,F,0-35,Scotland,HE Qualification,40-50%,60,201.0,794.0,2.0,0.0,0.0,997.0,1.56,0.00,1.56,0.0,2.0,0.0,0.0
17,25572,DDD,2014J,STEM,262,J,2014,2,Withdrawn,None,QUARTERB4,-68.0,59.0,N,F,0-35,London Region,HE Qualification,10-20,150,8.0,99.0,6.0,0.0,0.0,113.0,0.00,7.00,7.00,0.0,15.0,0.0,0.0
18,25629,BBB,2013J,SocialScience,268,J,2013,0,Withdrawn,None,QUARTERB4,-31.0,-30.0,N,F,0-35,Scotland,Lower Than A Level,20-30%,120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,25629,BBB,2014B,SocialScience,234,B,2014,1,Withdrawn,None,LONGB4,-156.0,108.0,N,F,0-35,Scotland,Lower Than A Level,20-30%,120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,25997,BBB,2014B,SocialScience,234,B,2014,2,Withdrawn,None,LONGB4,-139.0,83.0,N,F,0-35,London Region,A Level or Equivalent,20-30%,60,0.0,13.0,0.0,0.0,0.0,13.0,1.00,13.14,14.14,0.0,19.0,0.0,0.0
21,26023,GGG,2013J,SocialScience,261,J,2013,0,Pass,PASS,QUARTERB4,-37.0,NaN,N,M,35-55,North Western Region,Lower Than A Level,10-20,30,36.0,107.0,123.0,288.0,232.0,786.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0
22,26192,AAA,2014J,SocialScience,269,J,2014,0,Distinction,PASS,QUARTERB4,-38.0,NaN,N,F,35-55,East Anglian Region,A Level or Equivalent,60-70%,60,241.0,860.0,344.0,471.0,307.0,2223.0,0.00,86.30,86.30,0.0,100.0,0.0,0.0
23,26211,FFF,2014B,STEM,241,B,2014,0,Pass,PASS,MONTHB4,-25.0,NaN,N,F,35-55,London Region,HE Qualification,20-30%,90,308.0,4824.0,3492.0,3354.0,3227.0,15205.0,0.00,79.50,79.50,0.0,100.0,0.0,0.0
24,26247,FFF,2013J,STEM,268,J,2013,2,Fail,FAIL,QUARTERB4,-47.0,NaN,N,M,35-55,South East Region,HE Qualification,80-90%,60,111.0,367.0,0.0,0.0,0.0,478.0,0.00,11.00,11.00,0.0,12.5,0.0,0.0
25,26269,FFF,2014B,STEM,241,B,2014,0,Withdrawn,None,QUARTERB4,-73.0,-12.0,N,M,35-55,Yorkshire Region,Lower Than A Level,0-10%,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26315,BBB,2014J,SocialScience,262,J,2014,1,Pass,PASS,LONGB4,-92.0,NaN,N,F,35-55,East Anglian Region,Lower Than A Level,60-70%,60,137.0,529.0,384.0,698.0,703.0,2451.0,0.00,63.80,63.80,0.0,100.0,0.0,0.0
27,26677,BBB,2013J,SocialScience,268,J,2013,4,Withdrawn,None,QUARTERB4,-60.0,-1.0,N,M,0-35,West Midlands Region,A Level or Equivalent,0-10%,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,26734,BBB,2014J,SocialScience,262,J,2014,0,Fail,FAIL,LONGB4,-101.0,NaN,Y,M,0-35,South West Region,A Level or Equivalent,20-30%,90,7.0,110.0,78.0,15.0,0.0,210.0,0.00,18.50,18.50,0.0,30.0,0.0,0.0
29,26915,EEE,2013J,STEM,268,J,2013,0,Fail,FAIL,QUARTERB4,-61.0,NaN,N,M,35-55,Wales,Lower Than A Level,0-10%,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Dropping Features

Count columns with null values and drop features

In [4]:
#count null values of date_unregistration
df['date_unregistration'].isnull().sum()

22521

In [5]:
#count null values of date_unregistration
df['is_reenrolled'].isnull().sum()

6800

In [6]:
#count null values of date_unregistration
df['pass_fail_ind'].count()

22437

In [7]:
#replace null values
df['is_reenrolled'] = df['is_reenrolled'].fillna(0)

In [8]:
#drop features with string values
df = df.drop(['code_module'], axis=1)
df = df.drop(['code_presentation'], axis=1)
df = df.drop(['pass_fail_ind'], axis=1)
df = df.drop(['reg_period'], axis=1)
df = df.drop(['date_unregistration'], axis=1) #more than half of date unregistration colum

#check new headers in dataframe
df.head(10)

,id_student,module_domain,module_presentation_length,term,year,num_of_prev_attempts,final_result,date_registration,disability,gender,age_band,region,highest_education,imd_band,studied_credits,b4_sum_clicks,q1_sum_clicks,q2_sum_clicks,q3_sum_clicks,q4_sum_clicks,allclicks,cma_assmt_score,tma_assmt_score,tma_cma_assmt_score,final_exam,total_weight,is_reenrolled,final_exam_score
0,3733,STEM,261,J,2013,0,Withdrawn,-68.0,N,M,55<=,South Region,HE Qualification,90-100%,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,6516,SocialScience,269,J,2014,0,Pass,-52.0,N,M,55<=,Scotland,HE Qualification,80-90%,60,256.0,790.0,389.0,715.0,641.0,2791.0,0.00,63.50,63.50,0.0,100.0,0.0,0.0
2,8462,STEM,261,J,2013,0,Withdrawn,-137.0,N,M,55<=,London Region,HE Qualification,30-40%,90,81.0,442.0,123.0,0.0,0.0,646.0,0.00,34.90,34.90,0.0,40.0,0.0,0.0
3,8462,STEM,262,J,2014,1,Withdrawn,-38.0,N,M,55<=,London Region,HE Qualification,30-40%,60,0.0,10.0,0.0,0.0,0.0,10.0,0.00,43.00,43.00,0.0,50.0,4.0,0.0
4,11391,SocialScience,268,J,2013,0,Pass,-159.0,N,M,55<=,East Anglian Region,HE Qualification,90-100%,240,98.0,431.0,99.0,85.0,221.0,934.0,0.00,82.40,82.40,0.0,100.0,0.0,0.0
5,23629,SocialScience,240,B,2013,2,Fail,-47.0,N,F,0-35,East Anglian Region,Lower Than A Level,20-30%,60,14.0,105.0,42.0,0.0,0.0,161.0,2.00,14.69,16.69,0.0,25.0,0.0,0.0
6,23632,SocialScience,268,J,2013,0,Withdrawn,-194.0,N,F,0-35,East Anglian Region,A Level or Equivalent,40-50%,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
7,23698,STEM,269,J,2014,0,Pass,-110.0,N,F,0-35,East Anglian Region,A Level or Equivalent,50-60%,120,181.0,211.0,125.0,231.0,162.0,910.0,18.39,51.58,69.97,1.0,100.0,0.0,80.0
8,23798,SocialScience,268,J,2013,0,Distinction,-27.0,N,M,0-35,Wales,A Level or Equivalent,50-60%,60,6.0,204.0,103.0,152.0,125.0,590.0,5.00,84.24,89.24,0.0,100.0,0.0,0.0
9,24186,SocialScience,241,B,2014,0,Pass,-25.0,Y,F,0-35,Yorkshire Region,Lower Than A Level,10-20,30,12.0,15.0,27.0,67.0,63.0,184.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0

# Encoding and Mapping of Values

Investigate how values should be mapped, then map and encore values

In [9]:
#check categories to see how we should map data
df['module_domain'].value_counts()

STEM             21402
SocialScience    11191
Name: module_domain, dtype: int64

In [10]:
#check categories to see how we should map data
df['is_reenrolled'].value_counts()

0.0     32101
3.0       100
4.0        93
2.0        88
1.0        80
5.0        52
6.0        40
7.0        14
11.0        6
9.0         6
8.0         6
10.0        4
12.0        3
Name: is_reenrolled, dtype: int64

In [11]:
#check categories to see how we should map data
df['imd_band'].value_counts()

20-30%     3654
30-40%     3539
10-20      3516
0-10%      3311
40-50%     3256
50-60%     3124
60-70%     2905
70-80%     2879
80-90%     2762
90-100%    2536
           1111
Name: imd_band, dtype: int64

In [12]:
#mapping the columns
df['imd_band'] = df['imd_band'].map({'0-10%':0,'10-20':1,'20-30%':2,'30-40%':3,'40-50%':4,'50-60%':5,'60-70%':6,'70-80%':7,'80-90%':8,'90-100%':9})
df['module_domain'] = df['module_domain'].map({'SocialScience': 0,'STEM': 1})
df['term'] = df['term'].map({'J': 0,'B': 1})
df['year'] = df['year'].map({'2013': 0,'2014': 1})
df['is_reenrolled'] = df['is_reenrolled'].replace(range(1,12), 1)
df['gender'] = df['gender'].map({'M': 0,'F': 1})
df['age_band'] = df['age_band'].map({'0-35': 0,'35-55': 1,'55<=':2})
df['region'] = df['region'].map({'Scotland': 0,'East Anglian Region': 1,'London Region':2,'South Region': 3,'North Western Region': 4,'West Midlands Region':5,'South West Region': 6,'East Midlands Region': 7,'South East Region':8,'Wales': 9,'Yorkshire Region': 10,'North Region':11,'Ireland':12})
df['final_result'] = df['final_result'].map({'Withdrawn':0, 'Fail':0,'Pass':1,'Distinction':1})
df['disability'] = df['disability'].map({'N':0,'Y':1})
df['highest_education'] = df['highest_education'].map({'No Formal quals':0,'Lower Than A Level':1,'A Level or Equivalent':2,'HE Qualification':3,'Post Graduate Qualification':4})

In [13]:
#check to see how the mapping looks correct in dataframe
df.head(50)

,id_student,module_domain,module_presentation_length,term,year,num_of_prev_attempts,final_result,date_registration,disability,gender,age_band,region,highest_education,imd_band,studied_credits,b4_sum_clicks,q1_sum_clicks,q2_sum_clicks,q3_sum_clicks,q4_sum_clicks,allclicks,cma_assmt_score,tma_assmt_score,tma_cma_assmt_score,final_exam,total_weight,is_reenrolled,final_exam_score
0,3733,1,261,0,0,0,0,-68.0,0,0,2,3,3,9.0,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,6516,0,269,0,1,0,1,-52.0,0,0,2,0,3,8.0,60,256.0,790.0,389.0,715.0,641.0,2791.0,0.00,63.500,63.500,0.0,100.0,0.0,0.0
2,8462,1,261,0,0,0,0,-137.0,0,0,2,2,3,3.0,90,81.0,442.0,123.0,0.0,0.0,646.0,0.00,34.900,34.900,0.0,40.0,0.0,0.0
3,8462,1,262,0,1,1,0,-38.0,0,0,2,2,3,3.0,60,0.0,10.0,0.0,0.0,0.0,10.0,0.00,43.000,43.000,0.0,50.0,1.0,0.0
4,11391,0,268,0,0,0,1,-159.0,0,0,2,1,3,9.0,240,98.0,431.0,99.0,85.0,221.0,934.0,0.00,82.400,82.400,0.0,100.0,0.0,0.0
5,23629,0,240,1,0,2,0,-47.0,0,1,0,1,1,2.0,60,14.0,105.0,42.0,0.0,0.0,161.0,2.00,14.690,16.690,0.0,25.0,0.0,0.0
6,23632,0,268,0,0,0,0,-194.0,0,1,0,1,2,4.0,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
7,23698,1,269,0,1,0,1,-110.0,0,1,0,1,2,5.0,120,181.0,211.0,125.0,231.0,162.0,910.0,18.39,51.580,69.970,1.0,100.0,0.0,80.0
8,23798,0,268,0,0,0,1,-27.0,0,0,0,9,2,5.0,60,6.0,204.0,103.0,152.0,125.0,590.0,5.00,84.240,89.240,0.0,100.0,0.0,0.0
9,24186,0,241,1,1,0,1,-25.0,1,1,0,10,1,1.0,30,12.0,15.0,27.0,67.0,63.0,184.0,0.00,0.000,0.000,0.0,0.0,0.0,0.0
10,24213,1,240,1,0,0,0,-128.0,0,1,0,1,2,4.0,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
11,24213,1,241,1,1,1,1,-54.0,0,1,0,1,2,4.0,60,3.0,712.0,357.0,538.0,382.0,1992.0,0.00,78.400,78.400,1.0,100.0,0.0,58.0
12,24391,0,261,0,0,0,1,-64.0,0,0,0,7,2,8.0,30,0.0,100.0,121.0,208.0,283.0,712.0,0.00,0.000,0.000,0.0,0.0,0.0,0.0
13,24734,0,269,0,1,0,1,-18.0,0,1,0,3,1,6.0,60,30.0,111.0,91.0,59.0,208.0,499.0,0.00,47.500,47.500,0.0,100.0,0.0,0.0
14,25107,0,240,1,0,0,1,-73.0,0,1,0,1,1,2.0,120,5.0,207.0,1258.0,657.0,435.0,2562.0,5.00,55.510,60.510,0.0,100.0,0.0,0.0
15,25150,1,241,1,1,0,1,-47.0,0,0,0,4,3,9.0,60,51.0,407.0,350.0,1104.0,191.0,2103.0,0.00,82.720,82.720,0.0,100.0,0.0,0.0
16,25261,1,269,0,1,0,0,-114.0,0,1,0,0,3,4.0,60,201.0,794.0,2.0,0.0,0.0,997.0,1.56,0.000,1.560,0.0,2.0,0.0,0.0
17,25572,1,262,0,1,2,0,-68.0,0,1,0,2,3,1.0,150,8.0,99.0,6.0,0.0,0.0,113.0,0.00,7.000,7.000,0.0,15.0,0.0,0.0
18,25629,0,268,0,0,0,0,-31.0,0,1,0,0,1,2.0,120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
19,25629,0,234,1,1,1,0,-156.0,0,1,0,0,1,2.0,120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
20,25997,0,234,1,1,2,0,-139.0,0,1,0,2,2,2.0,60,0.0,13.0,0.0,0.0,0.0,13.0,1.00,13.140,14.140,0.0,19.0,0.0,0.0
21,26023,0,261,0,0,0,1,-37.0,0,0,1,4,1,1.0,30,36.0,107.0,123.0,288.0,232.0,786.0,0.00,0.000,0.000,0.0,0.0,0.0,0.0
22,26192,0,269,0,1,0,1,-38.0,0,1,1,1,2,6.0,60,241.0,860.0,344.0,471.0,307.0,2223.0,0.00,86.300,86.300,0.0,100.0,0.0,0.0
23,26211,1,241,1,1,0,1,-25.0,0,1,1,2,3,2.0,90,308.0,4824.0,3492.0,3354.0,3227.0,15205.0,0.00,79.500,79.500,0.0,100.0,0.0,0.0
24,26247,1,268,0,0,2,0,-47.0,0,0,1,8,3,8.0,60,111.0,367.0,0.0,0.0,0.0,478.0,0.00,11.000,11.000,0.0,12.5,0.0,0.0
25,26269,1,241,1,1,0,0,-73.0,0,0,1,10,1,0.0,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
26,26315,0,262,0,1,1,1,-92.0,0,1,1,1,1,6.0,60,137.0,529.0,384.0,698.0,703.0,2451.0,0.00,63.800,63.800,0.0,100.0,0.0,0.0
27,26677,0,268,0,0,4,0,-60.0,0,0,0,5,2,0.0,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
28,26734,0,262,0,1,0,0,-101.0,1,0,0,6,2,2.0,90,7.0,110.0,78.0,15.0,0.0,210.0,0.00,18.500,18.500,0.0,30.0,0.0,0.0
29,26915,1,268,0,0,0,0,-61.0,0,0,1,9,1,0.0,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
30,27116,1,269,0,1,0,1,-156.0,0,0,0,10,3,7.0,120,28.0,521.0,427.0,403.0,468.0,1847.0,24.30,67.720,92.020,1.0,100.0,0.0,96.0
31,27189,1,241,1,1,0,0,-65.0,0,1,1,3,1,1.0,120,0.0,406.0,540.0,925.0,767.0,2638.0,0.00,38.000,38.000,0.0,100.0,0.0,0.0
32,27417,1,261,0,0,0,0,-74.0,0,0,0,6,1,6.0,60,8.0,292.0,49.0,59.0,2.0,410.0,0.00,22.350,22.350,0.0,60.0,0.0,0.0
33,27417,1,262,0,1,1,0,-131.0,0,0,0,6,1,6.0,60,6.0,42.0,19.0,33.0,0.0,100.0,0.00,28.050,28.050,0.0,50.0,0.0,0.0
34,27457,0,268,0,0,0,0,-36.0,0,1,1,8,1,4.0,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
35,27683,1,241,1,1,0,1,-24.0,0,0,0,2,3,3.0,60,2.0,659.0,37.0,452.0,979.0,2129.0,0.00,71.000,71.000,0.0,100.0,0.0,0.0
36,27759,0,268,0,0,0,0,-43.0,1,0,1,4,1,4.0,120,0.0,165.0,73.0,55.0,73.0,366.0,4.80,56.330,61.130,0.0,100.0,0.0,0.0
37,27780,1,241,1,1,0,1,-23.0,0,0,0,9,2,1.0,150,15.0,181.0,158.0,36.0,163.0,553.0,0.00,42.600,42.600,0.0,72.0,0.0,0.0
38,27891,0,240,1,0,2,0,-58.0,1,0,0,0,1,0.0,120,16.0,229.0,43.0,13.0,0.0,301.0,2.20,25.610,27.810,0.0,44.0,0.0,0.0
39,27891,0,234,1,1,4,0,-191.0,1,0,0,0,1,0.0,120,0.0,25.0,22.0,0.0,0.0,47.0,2.20,25.610,27.810,0.0,44.0,1.0,0.0
40,27935,1,261,0,0,0,0,-134.0,1,1,0,1,1,3.0,60,64.0,535.0,147.0,67.0,0.0,813.0,0.00,44.975,44.975,0.0,60.0,0.0,0.0
41,28046,1,261,0,0,0,0,-190.0,0,1,1,10,3,1.0,70,24.0,234.0,51.0,225.0,127.0,661.0,0.00,49.900,49.900,1.0,100.0,0.0,40.0
42,28061,0,269,0,1,0,1,-130.0,0,0,1,10,1,4.0,60,349.0,497.0,250.0,222.0,272.0,1590.0,0.00,77.400,77.400,0.0,100.0,0.0,0.0
43,28149,1,241,1,1,0,0,-46.0,0,0,1,1,2,6.0,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
44,28400,0,268,0,0,0,1,-53.0,0,1,1,0,3,2.0,60,215.0,454.0,235.0,217.0,314.0,1435.0,0.00,65.400,65.400,0.0,100.0,0.0,0.0
45,28418,1,241,1,1,0,0,-37.0,0,1,0,5,2,2.0,30,1.0,164.0,62.0,101.0,0.0,328.0,2.91,0.000,2.910,0.0,9.0,0.0,0.0
46,28770,1,269,0,1,0,0,-31.0,0,0,0,0,1,2.0,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
47,28787,1,269,0,1,0,1,-29.0,0,0,1,8,1,8.0,60,38.0,120.0,100.0,114.0,273.0,645.0,11.98,0.000,11.980,1.0,25.0,0.0,44.0
48,28808,1,241,1,1,0,0,-120.0,0,1,0,3,2,9.0,60,27.0,195.0,10.0,0.0,0.0,232.0,0.00,17.500,17.500,0.0,25.0,0.0,0.0
49,28897,1,241,1,1,0,1,-136.0,0,0,0,6,2,1.0,120,136.0,992.0,781.0,685.0,773.0,3367.0,0.00,88.500,88.500,0.0,100.0,0.0,0.0

In [14]:
# # write dataframe to database
# from sqlalchemy import create_engine
# engine = create_engine('postgresql://postgres:Georgetown16@database-1.c5vispb5ezxg.us-east-1.rds.amazonaws.com:5432/Dataset')
# df.to_sql('featureSTG', engine, if_exists='replace')

In [15]:
disconnectDB()

NameError: name 'cur' is not defined