In [1]:
import psycopg2
import pandas as pd
import pandas.io.sql as pd_sql

In [2]:
def connectDB(DB):
    # connect to the PostgreSQL server
    return psycopg2.connect(
        database=DB,
        user="postgres",
        password="Georgetown16",
        host="database-1.c5vispb5ezxg.us-east-1.rds.amazonaws.com",
        port='5432')

def disconnectDB():
    cur.close()
    conn.close()

In [3]:

conn = connectDB("Dataset")

# extract everything from 'table_name' into a dataframe
df = pd_sql.read_sql(f"select * from public.\"analysisDataset\" ", con=conn).reset_index()
df.head()

,index,id_student,code_module,code_presentation,module_domain,module_presentation_length,term,year,num_of_prev_attempts,b4_sum_clicks,...,reg_period,date_registration,date_unregistration,disability,gender,age_band,region,highest_education,imd_band,studied_credits
0,0,6516,AAA,2014J,SocialScience,269,J,2014,0,256,...,QUARTERB4,-52.0,NaN,N,M,55<=,Scotland,HE Qualification,80-90%,60
1,1,23629,BBB,2013B,SocialScience,240,B,2013,2,14,...,QUARTERB4,-47.0,NaN,N,F,0-35,East Anglian Region,Lower Than A Level,20-30%,60
2,2,23798,BBB,2013J,SocialScience,268,J,2013,0,6,...,MONTHB4,-27.0,NaN,N,M,0-35,Wales,A Level or Equivalent,50-60%,60
3,3,24213,DDD,2014B,STEM,241,B,2014,1,3,...,QUARTERB4,-54.0,NaN,N,F,0-35,East Anglian Region,A Level or Equivalent,40-50%,60
4,4,24391,GGG,2013J,SocialScience,261,J,2013,0,0,...,QUARTERB4,-64.0,NaN,N,M,0-35,East Midlands Region,A Level or Equivalent,80-90%,30

In [4]:
df['date_unregistration'].isnull().sum()

22459

In [5]:
df = df.drop(['date_unregistration'], axis=1)
df.head(20)

,index,id_student,code_module,code_presentation,module_domain,module_presentation_length,term,year,num_of_prev_attempts,b4_sum_clicks,...,pass_fail_ind,reg_period,date_registration,disability,gender,age_band,region,highest_education,imd_band,studied_credits
0,0,6516,AAA,2014J,SocialScience,269,J,2014,0,256,...,PASS,QUARTERB4,-52.0,N,M,55<=,Scotland,HE Qualification,80-90%,60
1,1,23629,BBB,2013B,SocialScience,240,B,2013,2,14,...,FAIL,QUARTERB4,-47.0,N,F,0-35,East Anglian Region,Lower Than A Level,20-30%,60
2,2,23798,BBB,2013J,SocialScience,268,J,2013,0,6,...,PASS,MONTHB4,-27.0,N,M,0-35,Wales,A Level or Equivalent,50-60%,60
3,3,24213,DDD,2014B,STEM,241,B,2014,1,3,...,PASS,QUARTERB4,-54.0,N,F,0-35,East Anglian Region,A Level or Equivalent,40-50%,60
4,4,24391,GGG,2013J,SocialScience,261,J,2013,0,0,...,PASS,QUARTERB4,-64.0,N,M,0-35,East Midlands Region,A Level or Equivalent,80-90%,30
5,5,25150,EEE,2014B,STEM,241,B,2014,0,51,...,PASS,QUARTERB4,-47.0,N,M,0-35,North Western Region,HE Qualification,90-100%,60
6,6,25261,CCC,2014J,STEM,269,J,2014,0,201,...,None,LONGB4,-114.0,N,F,0-35,Scotland,HE Qualification,40-50%,60
7,7,25572,DDD,2014J,STEM,262,J,2014,2,8,...,None,QUARTERB4,-68.0,N,F,0-35,London Region,HE Qualification,10-20,150
8,8,25997,BBB,2014B,SocialScience,234,B,2014,2,0,...,None,LONGB4,-139.0,N,F,0-35,London Region,A Level or Equivalent,20-30%,60
9,9,26023,GGG,2013J,SocialScience,261,J,2013,0,36,...,PASS,QUARTERB4,-37.0,N,M,35-55,North Western Region,Lower Than A Level,10-20,30
10,10,26734,BBB,2014J,SocialScience,262,J,2014,0,7,...,FAIL,LONGB4,-101.0,Y,M,0-35,South West Region,A Level or Equivalent,20-30%,90
11,11,26915,EEE,2013J,STEM,268,J,2013,0,34,...,FAIL,QUARTERB4,-61.0,N,M,35-55,Wales,Lower Than A Level,0-10%,30
12,12,27116,CCC,2014J,STEM,269,J,2014,0,28,...,PASS,LONGB4,-156.0,N,M,0-35,Yorkshire Region,HE Qualification,70-80%,120
13,13,27189,FFF,2014B,STEM,241,B,2014,0,0,...,FAIL,QUARTERB4,-65.0,N,F,35-55,South Region,Lower Than A Level,10-20,120
14,14,27417,DDD,2013J,STEM,261,J,2013,0,8,...,None,QUARTERB4,-74.0,N,M,0-35,South West Region,Lower Than A Level,60-70%,60
15,15,27417,DDD,2013J,STEM,261,J,2013,0,8,...,None,QUARTERB4,-74.0,N,M,0-35,South West Region,Lower Than A Level,60-70%,60
16,16,27417,DDD,2014J,STEM,262,J,2014,1,6,...,None,LONGB4,-131.0,N,M,0-35,South West Region,Lower Than A Level,60-70%,60
17,17,27417,DDD,2014J,STEM,262,J,2014,1,6,...,None,LONGB4,-131.0,N,M,0-35,South West Region,Lower Than A Level,60-70%,60
18,18,27759,BBB,2013J,SocialScience,268,J,2013,0,0,...,FAIL,QUARTERB4,-43.0,Y,M,35-55,North Western Region,Lower Than A Level,40-50%,120
19,19,27935,DDD,2013J,STEM,261,J,2013,0,64,...,FAIL,LONGB4,-134.0,Y,F,0-35,East Anglian Region,Lower Than A Level,30-40%,60

In [6]:
df['id_student'].isnull().sum()

0

In [ ]:
df['date_registration'].isnull().sum()

In [ ]:
disconnectDB()